 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';



// Custom Styles

header{
  width:1440px;
  height:49px;
  padding-top: 10px;
  padding-bottom:10px;
  background-color:HSLA(0, 0%, 96%, 1);
}
////////////////////////////////////
  #header_container{
    width: 980px;
    height:28px;
    margin-right: auto;
    margin-left: auto;
    position:relative;
}


#header_logo{
  height:28px;
  width:28px;
  float:left;
  margin-right:10px;
  color:black;

  .mega-octicon {
    font-size: 28px;
    position:absolute;

  }

}

#search_form{
float: left;
width: 360px;
margin-right: 10px;
position:absolute;
left:40px;

  input{
    width:100%;
    border-radius:3px;
  }
}
.header_nav{
  position: absolute;
width: 195px;
height: 28px;
padding: 0;
margin: 0;
left: 404px;
    li{
      display: block;
      padding: 4px 8px;
      height: 28px;
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      float: left;

          a{
            text-decoration:none;
            float:left;
            color: HSLA(0, 0%, 20%, 1);

          }
        }
      }
.user_links_box{
  float:right;
  width:240px;
  height:28px;
  margin:0;
  list-style:none;
  padding:0;

  li{
    float:left;
    margin-right:18px;

  a{
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
color: #333;
  }
  #headimage{
    font-weight:bold;
  }


    img{
      height:20px;
      width:20px;
      display: inline-block;
      overflow: hidden;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
    }
  }
  }

#container{
    width:1000px;
    height:1008px;
    display:block;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;

}
#side_container{
  width:250px;
  height:535px;
  float:left;
  display:block;
  padding-left: 7px;
  padding-right: 10px;

  #avatar_pic{
    height:230px;
    width:230px;
    border-style:solid;
    margin:0px;
    border-radius:5px;

  }
  #avatar_names{
    margin-top: 5px;
    line-height: 1;

    #side_name{
      display: block;
      overflow: hidden;
      width: 100%;
      font-size: 26px;
      line-height: 30px;
      text-overflow: ellipsis;
    }
    #side_username{
      display: block;
      overflow: hidden;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      color: #666;
      text-overflow: ellipsis;
    }
  }
  #join_details{
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:0;
  border-top: 1px solid #eee;
  margin-bottom:0;

    li{
      list-style:none;
    }
    #clock{
      float: left;
      width: 16px;
      text-align: center;
      margin-left: -24px;
      color: #ccc;

    }
    #join_date{
      width: 100%;
      padding: 2px 0 2px 24px;
      overflow-x: hidden;
      white-space: nowrap;
      font-size: 14px;
      text-overflow: ellipsis;
    }

  }

  #side_stats{
    width:230px;
    height:75px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width:1px;
    border-color:HSLA(0, 0%, 93%, 1);
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;

    .stat{
      float: left;
      width: 33.333%;
      font-size: 11px;

      .stat_num{
        color:#4183C4;
        display: block;
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
      }
      .stat_text{
        color: #999;
      }
    }
  }
  #org_box{
    width:230px;
    height:92px;

    h3{
      font-size:16px;
    }
    img{
      display: inline-block;
      overflow: hidden;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
      height:42px;
      width:42px;
    }
  }
}
    #repo_container{
      width:750px;
      height:1008px;
      float:right;
      padding-left:7px;
      padding-right:10px;

      #repo_tab_box{
        width:730px;
        height:36px;
        margin-bottom:15px;

        #tab_nav_right{
          float:right;

          a{
            @include button;
            display: inline-block;
            padding: 7px 12px;
            font-size: 13px;
            font-weight: bold;
            color: #333;
            text-shadow: 0 1px 0 rgba(255,255,255,0.9);
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-color: #eee;
            background-image: -webkit-linear-gradient(#fcfcfc, #eee);
            background-image: linear-gradient(#fcfcfc, #eee);
            background-repeat: repeat-x;
            border: 1px solid #d5d5d5;
            border-radius: 3px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-appearance: none;
            text-shadow:none;
            box-shadow:none;
            border:none;


          }
          #edit_button :hover{
            background-color: #ddd;
            background-image: -webkit-linear-gradient(#eee, #ddd);
            background-image: linear-gradient(#eee, #ddd);
            background-repeat: repeat-x;
            border-color: #ccc;
          }

        }
        #tab_nav{
          float:left;
          padding-left:0;

          li{
            list-style:none;
            display:inline-block;
            margin:0;

            a{
              display: inline-block;
              padding: 8px 12px 7px;
              font-size: 14px;
              line-height: 20px;
              color: #666;
              text-decoration: none;
              border: 1px solid transparent;
              border-bottom: 0;
              margin:0;

              span{
                margin-right:5px;
              }
            }
          }
        }
      }

      #repo_content{
        width:730px;
        height:957px;
        margin:0;
        overflow:hidden;

        #filter_box{
          width:730px;
          padding:0;
          height:45px;
          margin-top:1px;
          position: relative;

            input{
              margin-right:0;
              width:260px;
              margin:0;
            }
            #filtersearch{
              margin:0;
              position:absolute;


            }
            #formsearch{
              @include button;
              position: relative;
              position: relative;
              display: inline-block;
              padding: 8px 12px;
              font-size: 13px;
              font-weight: bold;
              color: #333;
              text-shadow: 0 1px 0 rgba(255,255,255,0.9);
              white-space: nowrap;
              vertical-align: middle;
              cursor: pointer;
              background-color: #eee;
              background-image: -webkit-linear-gradient(#fcfcfc, #eee);
              background-image: linear-gradient(#fcfcfc, #eee);
              background-repeat: repeat-x;
              border: 1px solid #d5d5d5;
              border-radius: 3px;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-appearance: none;
              text-shadow:none;
              box-shadow:none;
              border:none;
              left: 265px;
            }
            #new_button{
              @include button;
              color: #fff;
              background-color: #569e3d;
              background-image: -webkit-linear-gradient(#79d858, #569e3d);
              background-image: linear-gradient(#79d858, #569e3d);
              background-repeat: repeat-x;
              border-color: #4a993e;
              float:right;
              text-shadow:none;
              box-shadow:none;
              border:none;
              }
        }
        .repositories{
          display:block;
          height:100%;
          padding:0;
          .repo{
            padding-top: 30px;
            padding-bottom: 30px;
            list-style: none;
            border-bottom: 1px solid #eee;

            .repo_stats{
              display:inline-block;

              height:16px;
              margin-top: 6px;
              float: right;
              font-size: 12px;
              font-weight: bold;
              color: #888;

              .lang{
                display:inline-block;
                margin:0;
                font-size:13px;
                float:left;


              }
              .repo_stars{
                margin-left: 8px;

                display: inline-block;
                color: #888;
                text-decoration: none;
                float:left;
                font-size:13px;
                margin-right:3px;
                span{
                  margin-right:3px;
                }

              }
              .repo_forks{
                font-size: 12px;
                font-weight: bold;
                color: #888;
                text-decoration: none;
                font-size:13px;


                span{
                  margin-right:3px;
                }
              }
            }
            .repo_title{
              margin: 0 0 8px;
              font-size: 20px;
              line-height: 1.2;
              color: #4183c4;
              text-decoration: none;
              font-weight:bold;

            }
            .repo_description{
              max-width: 550px;
              margin-top: 8px;
              margin-bottom: 0;
              font-size: 14px;
              color: #666;

            }
            .repo_updated{
              max-width: 550px;
              margin-top: 8px;
              margin-bottom: 0;
              font-size: 14px;
              color: #666;
            }
          }
        }
    }
}



footer{
  height:100px;
  width:100%;
  clear:both;
}
