<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>repo_copy</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/styles/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>


      <header>
        <div id="header_container">
          <a id="header_logo"><span class="mega-octicon octicon-mark-github"></span></a>
          <form id="search_form">
            <input type="text">
          </form>
          <ul class="header_nav">
            <li class="navlink" id="explore"><a href="#">Explore</a></li>
            <li class="navlink" id="gist"><a href="#">Gist</a></li>
            <li class="navlink" id="blog"><a href="#">Blog</a></li>
            <li class="navlink" id="help"><a href="#">Help</a></li>
          </ul>
          <ul class="user_links_box">
            <li><a id="headimage"><img src="https://avatars2.githubusercontent.com/u/8284438?v=2&amp;s=40"><span>mgriffeth</span></a></li>
            <li><a href="#"><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></a></li>
            <li><a href="#"><span class="octicon octicon-inbox"></span></a></li>
            <li><a href="#"><span class="octicon octicon-gear"></span></a></li>
            <li><a href="#"><span class="octicon octicon-sign-out"></span></a></li>
          </ul>
        </div>
      </header>
      <div id="container">

        <div id="side_container">
          <img id="avatar_pic"src="https://avatars.githubusercontent.com/u/8284438?v=2" alt="" />
          <h1 id="avatar_names">
            <span id="side_name">Matthew Griffeth</span>
            <span id="side_username">mgriffeth</span>
          </h1>
          <ul id="join_details">
            <li id="join_date"><span id="clock"><span class="octicon octicon-clock"></span></span>
            <span id="joined_on">Joined on</span><time></time></li>
          </ul>
          <div id="side_stats">
            <a class="stat"><strong class="stat_num">0</strong><span class="stat_text">Followers</span></a>
            <a class="stat"><strong class="stat_num">0</strong><span class="stat_text">Starred</span></a>
            <a class="stat"><strong class="stat_num">0</strong><span class="stat_text">Following</span></a>
          </div>
          <div id="org_box">
            <h3>Organizations</h3>
            <img src="https://avatars.githubusercontent.com/u/7996991?v=2" alt="" />
          </div>
        </div>



        <div id="repo_container">

          <div id="repo_tab_box">
            <div id="tab_nav_right">
              <a id="edit_button"href="#"><span class="octicon octicon-pencil"></span>Edit profile</a>
            </div>
            <ul id="tab_nav">
              <li><a href="#"><span class="octicon octicon-diff-added"></span>Contributions</a></li>
              <li><a href="#"><span class="octicon octicon-repo"></span>Repositories</a></li>
              <li><a href="#"><span class="octicon octicon-rss"></span>Public activity</a></li>
            </ul>

          </div>

          <div id="repo_content">
            <div id="filter_box">
              <form>
                <input id="filtersearch" type="text">
              </form>
              <a id="formsearch">Search</a>
              <a id="new_button"><span class="octicon octicon-repo"></span>New</a>
              <h5>All</h5>

              <ul>


              </ul>
            </div>

            <ul class="repositories">

            </ul>

            <script id="repo_template" type="text/template">
              <li class="repo">

                <div class="repo_stats">
                  <h3 class="lang"><%= language %></h3>
                  <a class="repo_stars" href="#"><span class="octicon octicon-star"></span>0</a>
                  <a class="repo_forks" href="#"><span class="octicon octicon-git-branch"></span>0</a>
                </div>

                <h2 class="repo_title"><%= name %></h2>
                <p class="repo_description"><%= description %></p>
                <p class="repo_updated"><%= updated_at %></p>
              </li>
            </script>




          </div>

          </div>

        </div>
<footer>
</footer>






    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
